
.about-section {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../media/food/arroz.jpg");
  background-size: cover;
  background-position: center;  
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px 20%;
}

.about-section p {
  margin-top: 40px;
  color: white;
  font-weight: 400;
}