
.separator {
  width: 100%;
}

.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 74, 74);
  color: white;
  text-align: center;
  padding: 50px 0px;
}

.app-footer .subtitle-text {
  color: white;
}

.footer-links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer-links a {
  margin: 20px 10px;
  font-size: 1em;
}

.footer-rights {
  font-size: 2.5vw;
  font-weight: 300;
}

.footer-decoration {
  position: absolute;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 74, 74);
  width: 4em;
  height: 4em;
  transform: rotate(45deg);
  border-radius: 20%;
  border-top-left-radius: 60%;
  z-index: 1;
}

.footer-decoration a {
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
  transform: rotate(135deg);
}

@media ( width > 620px ) {
  .footer-rights{
    font-size: 1em;
  }
}