
.app-hero {
  background: 
    linear-gradient( to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),
    url("../../media/food/hero-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  text-align: center;
}
.app-hero .separator {
  position: absolute;
}