
.menu-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.menu-search-text {
  outline: none;
  width: 50vw;
  max-width: 400px;
  height: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  transition: .2s;
}

.menu-search-button {
  border: 1px solid rgb(255, 16, 16);
  background-color: rgb(255, 91, 91);
  width: 17vw;
  height: 35px;
  max-width: 100px;
  max-height: 40px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: .1s;
}

.menu-search-button:hover {
  cursor: pointer;
}

.menu-search-text:active {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
}

.menu-search-button:active {
  background-color: rgb(228, 79, 79);
  border: 1px solid rgb(255, 255, 255);
}