
.menu-suggestions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.suggestions-container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.suggestion .separator {
  display: flex;
  align-items: center;
  color: rgb(255, 110, 110);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  padding: 5px;
  font-size: .8rem;
  margin-top: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.suggestion {
  margin-left: 14px;
  transition-timing-function: ease;
}

.suggestion-text {
  color: rgb(99, 99, 99);
  padding: 5px;
  font-size: 1rem;
}

.suggestion img { 
  width: 5vw;
  height: 5vw;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  margin-right: 10px;
}

.suggestion:hover {
  cursor: pointer;
}
