
.menu-info p:hover {
  cursor: text;
}

.menu-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 90px 0px;
  text-align: center;
  border-radius: 20px;
}

.menu-info-left {
  z-index: 10;
}

.text-separator {
  margin: 5px 0px;
  padding: 5px 0px;
}

.text-separator p {
  margin:10px 0px;
}

.text-separator p span {
  font-size: 1rem;
  margin-left: 5px;
}

.right-img {
  width: 30%;
}

