
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50vh;
  padding-bottom: 10rem;
}

.no-results .no-results-separator img {
  width: 60vw;
  height: auto;
  max-width: 400px;
}

.no-results-text {
  text-align: center;
  font-size: 7vw;
  font-family: 'Quicksand';
  color: rgb(42, 42, 42);
}

@media (width > 500px) {
  .no-results-text {
    font-size: 3rem;
  }
}

.center-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1000px;
}

.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 45%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
}

.menu-item:first-child {
  width: 95%;
}

.menu-item img:first-child {
  max-width: unset;
  max-height: unset;
}

.menu-item img {
  max-width: 550px;
  max-height: 450px;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.menu-item h3 {
  color: rgb(29, 29, 29);
}

@media (width < 440px) {
  .menu-item {
    width: 42%;
  }

  .menu-item img {
    height: 25vh;
  }
}