
.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50vh;
  padding-bottom: 10rem;
}

.no-results .no-results-separator img {
  width: 60vw;
  height: auto;
  max-width: 400px;
}

.no-results-text {
  text-align: center;
  font-size: 7vw;
  font-family: 'Quicksand';
  color: rgb(42, 42, 42);
}

.center-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 780px;
}

.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 40%;
  height: auto;
  padding: 10px;
  margin: 0px auto;
}

.menu-item:first-child {
  width: 95%;
}

.menu-item img:first-child {
  max-width: unset;
  max-height: unset;
}

.menu-item img {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.menu-item h3 {
  color: rgb(29, 29, 29);
}

.item-info {
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

.item-info p{
  margin: 10px 0px;
  color: rgb(184, 184, 184);
  border: 1px solid rgb(237, 237, 237);
  border-radius: 10px;
}

.item-info p:last-child {
  color: rgb(255, 151, 151);
  padding: 5px 0px;
  background-color: rgb(255, 236, 236);
}

@media (width > 520px) {
  .menu-item {
    width: 40%;
  }

  .menu-item img {
    height: 30vh;
  }
}

@media (width < 520px) {
  .menu-item {
    width: 42%;
  }

  .menu-item img {
    height: 25vh;
  }
}

@media (width > 500px) {
  .no-results-text {
    font-size: 4rem;
  }
}

@media (width > 820px) {
  .menu-item {
    max-width: 220px;
  }
}