
.menu-searcher {
  padding-top: 30vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgb(255, 255, 255));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search-separator {
  max-width: 600px;
  width: 100%;
}

@media (width > 1200px) {
  .menu-searcher {
    padding-bottom: 10vh;
    padding-top: 35vh;
  }
}